@font-face {
  font-family: "ShortStack";
  src: url("/font/ShortStack-Regular.otf");
}

body {
  background-color: lightgreen;
  padding: 0;
  margin: 0;
  font-family: ShortStack, sans-serif;
  width: 40em;
  text-align: center;
}
canvas {
  background-color: #EEE;
  width: 100%;
}

@media (max-width: 641px) {
  body { font-size: 16px; }
  #desktop-controls { display: none; }
  #dpad { width: 300px; }
}
@media (min-width: 641px) {
  body {
    font-size: 24px;
    margin: 0 auto;
  }
  h1 { margin: 5px; }
  #mobile-controls { display: none; }
}
